.container {
  justify-content: center;
  align-items: center;
  max-width: 600px;
  padding: 20px;
}

.user-view {
  background-color: #f3f4f6;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.user-view h1 {
  margin-bottom: 20px;
  color: #046e04;
}

.btn-custom {
  margin-top: 40px;
  color: white;
  background-color: #32cd32;
}

.update-password-form {
  margin: 30px auto;
  color: white;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: bold;
      color: #046e04 !important;
    }

    input {
      position: relative;
      margin-top: 5px;
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border-radius: 10px;
      color: #2a2f3a;
    }


    textarea {
      resize: none;
      height: 80px;
    }

    .error {
      small {
        &.form-text {
          &.text-warning {
            color: red;
          }
        }
      }
    }
  }
}
::placeholder {
  color: #2a2f3a;
  opacity: 0.8;
}
