.forgot-password-form {
  margin: 150px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-section h2 {
  margin: 0;
  color: #046e04;
}

.credentials-section h6 {
  margin: 0;
  color: #0aa30a;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.form-group label {
  color: #046e04;
  font-weight: bold;
}

.form-group .form-control {
  color: #3c3e41;
  border: 1px solid #3c3e41;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.form-group .form-control::placeholder {
  color: #3c3e41;
}


.form-group input, .form-group select, .form-group textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #a1a0a0;
}

.form-group textarea {
  resize: none;
  height: 80px;
}

.form-group button {
  width: 50%;
  margin: 2em auto 0 auto;
  padding: 15px 20px;
  background-color: #32cd32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0aa30a;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 50%;
  margin-top: 50px;

  &-content {
    display: flex;
    align-items: center;
    width: 100%;

    .footer-line {
      flex-grow: 1;
      height: 1px;
      background-color: #b2dfa9;
    }

    .or-box {
      padding: 5px 15px 5px 15px;
      background-color: #b2dfa9;
    }

    .or-text {
      font-weight: bold;
      font-size: 16px;
      color: #046e04;
    }
  }

  .sign-up-section {
    display: flex;
    align-items: center;
    margin-top: 10px;

    h6 {
      color: #0aa30a;
      margin: 0 10px 0 0;
    }
  }
}

.link-text {
  color: #0aa30a;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
