<div class="forgot-password-form col-md-6 mx-auto">
  <div class="form-header">
    <div class="welcome-section">
      <h2>Reset Password</h2>
      <!-- Logo -->
      <a class="navbar-brand ml-lg-5" href="#">
        <img src="assets/silaTextLogo.png" alt="Logo" width="200" height="200">
      </a>
    </div>
    <div class="credentials-section">
      <div class="row">
        <div class="col">
          <h6>Enter your email - new password will be sent out.</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="inputUsername">Email</label>
    <input type="text"
           name="username"
           class="form-control"
           id="inputUsername"
           placeholder="Enter your Email"
           [(ngModel)]="this.passwordReset.email"
    >
    <button type="button" (click)="resetPassword()" class="btn btn-success">Reset Password</button>
  </div>
</div>

<footer class="footer col-md-6 mx-auto">
  <div class="footer-content">
    <div class="footer-line"></div>
    <div class="or-box">
      <span class="or-text">Or</span>
    </div>
    <div class="footer-line"></div>
  </div>

  <div class="sign-up-section">
    <h6> Don't have an account?</h6>
    <a class="link-text" [routerLink]="['/register']">Sign Up</a>
  </div>
</footer>
